<ion-header>
  <ion-navbar color="primary">
    <div *ngIf="classes">
    <ion-title>Student Details<small *ngIf="classes.length>0">( {{classes[index].class_name}})</small> </ion-title>
    </div>

    <ion-buttons end>
      <button ion-button (click)="presentPopover($event)">
                  <ion-icon name="more"></ion-icon>
                  </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content color="primary">

  <div class="spacer" style="height: 2px;"></div>
  <ion-list *ngIf="classes">
    <ion-item-divider color="primary">
      <ion-input color="primary" [(ngModel)]="studname" type="text" placeholder="Enter Student Name"></ion-input>
      <ion-icon name="search" item-left></ion-icon>
    </ion-item-divider>
    <div class="spacer" style="height: 10px;"></div>
    <div *ngIf="classes.length>0">
    <ion-item-sliding #item *ngFor="let stud of classes[index].students|orderBy:'gender':true|student:studname;let i=index">
      <ion-item>
        <ion-label>
          <ion-badge item-right>{{i+1}}</ion-badge>{{stud.student_name}}
          <div class="spacer" style="height: 4px;"></div>

          <p style="font-size: 13px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{stud.emis_code}}</p>

        </ion-label>

        <ion-icon (click)="callConfirm(stud)" item-right name="call"></ion-icon>
      </ion-item>
      <ion-item-options side="right">
              <br>
              <br>
              <h3 color="primary">{{stud.guardian_phone}}</h3>
             

       
      </ion-item-options>
    </ion-item-sliding>
    </div>

    <!--<ion-item>
      <ion-label>
        <ion-badge item-right>1</ion-badge>Daenerys Targaryen
        <div class="spacer" style="height: 4px;"></div>

        <p style="font-size: 13px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;201439001</p>

      </ion-label>

      <ion-icon item-right name="call"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-badge item-right>1</ion-badge>Daenerys Targaryen
        <div class="spacer" style="height: 4px;"></div>

        <p style="font-size: 13px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;201439001</p>

      </ion-label>

      <ion-icon item-right name="call"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-badge item-right>1</ion-badge>Daenerys Targaryen
        <div class="spacer" style="height: 4px;"></div>

        <p style="font-size: 13px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;201439001</p>

      </ion-label>

      <ion-icon item-right name="call"></ion-icon>
    </ion-item>-->

  </ion-list>

</ion-content>



<!--<ion-header>
  <ion-navbar>
    <ion-title>Student Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="tutorial-page">

  <ion-slides pager>
    <ion-slide *ngFor="let slide of slides">
      <ion-toolbar>
        <ion-buttons end>
          <button ion-button color="primary">Skip</button>
        </ion-buttons>
      </ion-toolbar>
      <img [src]="slide.image" class="slide-image"/>
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
    </ion-slide>
    <ion-slide>
      <ion-toolbar>
      </ion-toolbar>
      <img src="img/ica-slidebox-img-1.png" class="slide-image"/>
      <h2 class="slide-title">Promote Student</h2>
      <p>This page is currently inactive.Please check at the end of the term or contact your school admin in case of activation issues</p>
    </ion-slide>
  </ion-slides>
</ion-content>-->