<ion-header>
  <ion-navbar color="primary">
    <ion-title><span *ngIf="type"> {{type=="add"?'Add':"Update"}}</span> Student</ion-title>
    <ion-buttons end>
      <button ion-button small outline (click)="dismiss()">
      <ion-icon name='arrow-dropleft'></ion-icon> &nbsp;
         Back
      </button>

       <!--<button ion-button color="light" icon-left>
      <ion-icon name='arrow-back'></ion-icon>
      Back
    </button>-->
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="tutorial-page">
  <form [formGroup]="studform" (ngSubmit)="addstud()">

 <div class="spacer" style="height:5px;"></div>
    <ion-item>
      <ion-label stacked class = "mylabels">First Name</ion-label>
      <ion-input type="text" formControlName="fstname" class = "addinput"></ion-input>
    </ion-item>
    
 <div class="spacer" style="height:10px;"></div>
    <ion-item>
      <ion-label stacked class = "mylabels">Middle Name</ion-label>
      <ion-input formControlName="midname" class = "addinput"></ion-input>
    </ion-item>

   <div class="spacer" style="height:10px;"></div>
    <ion-item>
      <ion-label stacked class = "mylabels">Last Name</ion-label>
      <ion-input formControlName="lstname" class = "addinput"></ion-input>
    </ion-item>

    <div class="spacer" style="height:10px;"></div>
    <ion-item (click)="showdobCalendar()">
      <ion-label class = "mylabels" style="font-size:14px;">Date of Birth
      <ion-icon name='calendar' style="color: #d03e84; margin-left:33%" ></ion-icon>
       &nbsp; {{dob|date}} <br>
      </ion-label>
      <br><br>
    </ion-item>

    <div class="spacer" style="height:10px;"></div>
    <ion-item>
      <ion-label stacked class = "mylabels">Student ID</ion-label>
      <ion-input type="number" formControlName="student_id" class = "addinput"></ion-input>
    </ion-item>

  <div class="spacer" style="height:10px;"></div>
    <ion-item>
      <ion-label stacked class = "mylabels">Student Gender</ion-label>
      <ion-select formControlName="gender" class = "addinput">
        <ion-option value="F" selected="true">Female</ion-option>
        <ion-option value="M">Male</ion-option>
      </ion-select>
    </ion-item>

  <div class="spacer" style="height:10px;"></div>
   <ion-item>
      <ion-label stacked class = "mylabels">Guardian Name</ion-label>
      <ion-input formControlName="guardian_name" class = "addinput"></ion-input>
    </ion-item>

  <div class="spacer" style="height:10px;"></div>
   <ion-item>
      <ion-label stacked class = "mylabels">Guardian Phone</ion-label>
      <ion-input formControlName="guardian_phone" class = "addinput"></ion-input>
    </ion-item>

  <div class="spacer" style="height:10px;"></div>

    <ion-item>
      <ion-label stacked class = "mylabels">Class</ion-label>
      <ion-select *ngIf="classes" formControlName="class_id" class = "addinput">
        <ion-option *ngFor="let class of classes" value="{{class.id}}">{{class.class_name}}</ion-option>
      </ion-select>
    </ion-item>
    

    <div class="spacer" style="height:10px;"></div>

      <ion-item>
         <ion-label class = "mylabels" style="font-size:14px;">Newly Enrolled Student</ion-label>
      <ion-checkbox formControlName="is_oosc" item-right></ion-checkbox>
    </ion-item>

    <div class="spacer" style="height:10px;"></div>


    <ion-item (click)="showCalendar()">
      <ion-label class = "mylabels" style="font-size:14px;">Enrollment date
      <ion-icon name='calendar' style="color: #d03e84; margin-left:25%" ></ion-icon>
       &nbsp; {{event|date}}
      </ion-label>
    </ion-item>

   
    <button ion-button full type="submit" [disabled]="!studform.valid || load"> <span *ngIf="type">{{load?'Loading ...':type}}</span></button>
    
  </form>

</ion-content>