<ion-header>
  <ion-navbar>
    <ion-title>Add Student</ion-title>
    <ion-buttons end>
      <button ion-button small outline (click)="dismiss()">
      <ion-icon name='arrow-dropleft'></ion-icon> &nbsp;
         Back
      </button>

       <!--<button ion-button color="light" icon-left>
      <ion-icon name='arrow-back'></ion-icon>
      Back
    </button>-->
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="tutorial-page">
  <form [formGroup]="studform" (ngSubmit)="addstud()">

 <div class="spacer" style="height:5px;"></div>
    <ion-item>
      <ion-label stacked>First Name</ion-label>
      <ion-input type="text" formControlName="fstname"></ion-input>
    </ion-item>
    
 <div class="spacer" style="height:10px;"></div>
    <ion-item>
      <ion-label stacked>Middle Name</ion-label>
      <ion-input formControlName="midname"></ion-input>
    </ion-item>

   <div class="spacer" style="height:10px;"></div>
    <ion-item>
      <ion-label stacked>Last Name</ion-label>
      <ion-input formControlName="lstname"></ion-input>
    </ion-item>

    <div class="spacer" style="height:10px;"></div>
    <ion-item>
      <ion-label stacked>Student ID</ion-label>
      <ion-input type="number" formControlName="student_id"></ion-input>
    </ion-item>

  <div class="spacer" style="height:10px;"></div>
    <ion-item>
      <ion-label stacked>Student Gender</ion-label>
      <ion-select formControlName="gender">
        <ion-option value="F" selected="true">Female</ion-option>
        <ion-option value="M">Male</ion-option>
      </ion-select>
    </ion-item>

  <div class="spacer" style="height:10px;"></div>
   <ion-item>
      <ion-label stacked>Guardian Name</ion-label>
      <ion-input formControlName="guardian_name"></ion-input>
    </ion-item>

  <div class="spacer" style="height:10px;"></div>
   <ion-item>
      <ion-label stacked>Guardian Phone</ion-label>
      <ion-input formControlName="guardian_phone"></ion-input>
    </ion-item>

  <div class="spacer" style="height:10px;"></div>

    <ion-item>
      <ion-label stacked>Class</ion-label>
      <ion-select *ngIf="classes" formControlName="class_id">
        <ion-option *ngFor="let class of classes" value="{{class.id}}">{{class.class_name}}</ion-option>
      </ion-select>
    </ion-item>
    

    <div class="spacer" style="height:10px;"></div>

      <ion-item>
         <ion-label>Newly Enrolled Student</ion-label>
      <ion-checkbox formControlName="is_oosc" item-right></ion-checkbox>
    </ion-item>

    <div class="spacer" style="height:10px;"></div>


    <ion-item (click)="showCalendar()">
      <ion-label stacked>Enrollment Date  <ion-icon name='calendar' style="color: #d03e84"></ion-icon>
       &nbsp; {{event|date}}
      </ion-label>
<!--     
      <ion-datetime [max]="maxdate"  displayFormat="  DD MMMM YYYY"  pickerFormat="DD MMM  YYYY"
        formControlName="date_enrolled"></ion-datetime>-->
       
    </ion-item>

   
    <button ion-button full type="submit" [disabled]="!studform.valid || load"> <span *ngIf="type">{{load?'Loading ...':type}}</span></button>
    
  </form>

</ion-content>