<ion-header>
  <ion-navbar>
    <ion-title>Add Student</ion-title>
    <ion-buttons end>
      <button ion-button outline (click)="dismiss()">
         Back
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="tutorial-page">
  <form [formGroup]="studform" (ngSubmit)="addstud()">
    <ion-item>
      <ion-label floating>Firts Name</ion-label>
      <ion-input type="text" formControlName="fstname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Middle Name</ion-label>
      <ion-input formControlName="midname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>last Name</ion-label>
      <ion-input formControlName="lstname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select formControlName="gender">
        <ion-option value="F" selected="true">Female</ion-option>
        <ion-option value="M">Male</ion-option>
      </ion-select>
    </ion-item>
    <!--<ion-item>
      <ion-label floating>Class</ion-label>
      <ion-input formControlName="class_id"></ion-input>
    </ion-item>-->
    <ion-item>
      <ion-label>Class</ion-label>
      <ion-select *ngIf="classes" formControlName="class_id">
        <ion-option *ngFor="let class of classes" value="{{class.id}}">{{class.class_name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Enrolled   <ion-icon name='calendar' style="color: #d03e84"></ion-icon></ion-label>
     
      <ion-datetime  displayFormat="  DD MMMM YYYY"  pickerFormat="DD MMM  YYYY"
        formControlName="date_enrolled"></ion-datetime>
    </ion-item>

    <div class="spacer" style="height: 7px;"></div>
    <button ion-button full type="submit" [disabled]="!studform.valid" large> <span *ngIf="type">{{type}}</span></button>
  </form>

</ion-content>