<ion-header>
  <ion-navbar>
    <ion-title>Add Student</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="tutorial-page">
  <span *ngIf="student"> Student:{{student.fstname}}</span>
  <form [formGroup]="studform" (ngSubmit)="addstud()">
    <ion-item>
      <ion-label floating>Firts Name</ion-label>
      <ion-input type="text" formControlName="fstname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Middle Name</ion-label>
      <ion-input formControlName="midname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>last Name</ion-label>
      <ion-input formControlName="lstname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select formControlName="gender">
        <ion-option value="F" selected="true">Female</ion-option>
        <ion-option value="M">Male</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Class</ion-label>
      <ion-input formControlName="class_id"></ion-input>
    </ion-item>
    <button ion-button type="submit" [disabled]="!studform.valid"> <span *ngIf="type">{{type}}</span></button>
  </form>
  <button ion-button (click)="dismiss()">Close</button>


</ion-content>