<ion-header>
      <ion-navbar color="primary">
            <ion-title>Classes <small *ngIf="classes">( {{classes.length}})</small> </ion-title>

            <ion-buttons end>
                  <button ion-button >
                  <ion-icon name="more"></ion-icon>
                  </button>
            </ion-buttons>
      </ion-navbar>
</ion-header>

<ion-content color="primary">

      <div class="spacer" style="height: 2px;"></div>
      <ion-list *ngIf="classes">
            <ion-item-divider color="primary">Classes Details </ion-item-divider>
            <div class="spacer" style="height: 10px;"></div>
            <ion-item *ngFor="let class of classes;let i=index">
                  <ion-label>
                        <ion-badge item-right>{{i+1}}</ion-badge>{{class.class_name}}
                        <div class="spacer" style="height: 4px;"></div>

                        <p style="font-size: 13px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{class.students.length}} Students</p>

                  </ion-label>

                  <a ion-button (click)="presentModal(class,'update')" small item-right>Edit</a>

                  <a ion-button (click)="deleteConfirm()" small item-right color="danger">Delete</a>
                  
              
          </ion-item>
  
      </ion-list>

      <ion-fab right bottom>
        <button (click)="presentModal('new','add')" ion-fab mini color="dark"><ion-icon name="add"></ion-icon></button>
      </ion-fab>
      <div class="spacer" style="height: 20px;"></div>

</ion-content>