page-home {

    .list-avatar-page {
    ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
  }

}

.circle 
{ width: 7px; height: 7px; background: white; 
  -moz-border-radius: 50px; -webkit-border-radius: 50px;
  border-radius: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
}

}

$datetime-md-placeholder-color: primary;


