<ion-header>
  <ion-navbar>
    <ion-title *ngIf="is_headteacher"><span *ngIf="profile">{{profile.school_name}}  </span> </ion-title>
    <ion-title *ngIf="!is_headteacher">My Students</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="tutorial-page">

  <!--<ion-row wrap style="background-color:#3f51b5; height: 155px;">
    <p style="color: white;text-align: center; font-weight: 700; font-size: 16px; padding-top: 15%;padding-left:40%;text-align: center;  white-space: normal;"
      (click)="students()"> Add and Update Students Details</p>
  </ion-row>
  <div class="spacer" style="height: 5px;"></div>
  <ion-row wrap style="background-color:#3f51b5; height: 155px;">
    <p style="color: white;text-align: center; font-weight: 700; font-size: 16px; padding-top: 15%;padding-left:40%;text-align: center;  white-space: normal;"
      (click)="studentdetails()">View Students Details</p>
  </ion-row>
  <div class="spacer" style="height: 5px;"></div>

  <ion-row wrap style="background-color:#3f51b5; height: 155px;">
    <p style="color: white;text-align: center; font-weight: 700; font-size: 16px; padding-top: 15%;padding-left:40%;text-align: center;  white-space: normal;"
      (click)="teachers()">Teachers</p>
  </ion-row>
  <div class="spacer" style="height: 5px;"></div>

  <ion-row wrap style="background-color:#3f51b5; height: 155px;">
    <p style="color: white;text-align: center; font-weight: 700; font-size: 16px; padding-top: 15%;padding-left:40%;text-align: center;  white-space: normal;">Classes</p>
  </ion-row>-->
  <ion-card color="primary">
    <ion-card-header>
      Students
      <ion-badge *ngIf="schoolinfo" color="white" style="margin-left: 65%">{{schoolinfo.students}}</ion-badge>
    </ion-card-header>

    <ion-list>
      <button (click)="students()" ion-item>
      <ion-icon name="add-circle" item-left></ion-icon>
      Add/Edit Students
    </button>

      <button (click)="studentdetails()" ion-item>
      <ion-icon name="list-box" item-left></ion-icon>
      View Student details
    </button>
    </ion-list>
  </ion-card>

  <ion-card *ngIf="is_headteacher" color="primary">
    <ion-card-header>
      Teachers
      <ion-badge *ngIf="schoolinfo" color="white" style="margin-left: 65%">{{schoolinfo.teachers}}</ion-badge>
    </ion-card-header>

    <button (click)="teachers()" ion-item>
      <ion-icon name="contact"  item-left></ion-icon>
      Add/Edit Teachers
    </button >

      <!--<button  ion-item>
      <ion-icon name="list-box" item-left></ion-icon>
      View Teacher Details
    </button>-->

    <ion-list>
    </ion-list>
  </ion-card>
  <ion-card *ngIf="is_headteacher" color="primary">
    <ion-card-header>
      Classes
      <ion-badge *ngIf="schoolinfo" color="white" style="margin-left: 65%">{{schoolinfo.classes}}</ion-badge>
    </ion-card-header>

    <button (click)="goclasses()" ion-item>
      <ion-icon name="easel" item-left></ion-icon>
      Add/Edit Classes
    </button>

    <!--<button ion-item>
      <ion-icon name="list-box" item-left></ion-icon>
      View Class Details
    </button>-->
    <ion-list>
    </ion-list>
  </ion-card>
</ion-content>



<!--<ion-slide-page>
                <div style="background-color: mediumseagreen; border-radius: 5px; height: 160px;">
                <p style="color: #FFFFFF; font-size: 16px; font-size: calc(12px + 4px); font-weight: 500; display: block; text-align: center; line-height: 150px">Sense With Cents</p>    
                </div>   
              </ion-slide-page>-->