<ion-header>
  <ion-navbar color="primary">
    <ion-title>Edit Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="tutorial-page">
  <div class="spacer" style="height: 140px;"></div>
  <ion-list>

    <ion-item>
      <ion-label stacked>Old Password</ion-label>
      <ion-input [(ngModel)]="changepass.old_password" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>New Password</ion-label>
      <ion-input [(ngModel)]="changepass.new_password" type="password"></ion-input>
    </ion-item>
  </ion-list>

  <button [disabled]="(changepass.old_password ==undefined || changepass.old_password == '')||(changepass.new_password ==undefined || changepass.new_password == '')"
    (click)="change()" ion-button block>Login</button>
  <!--<button ion-button (click)="gotoPage()">Dashboard</button>-->
  <ion-card color="danger" *ngIf="error">

    <ion-card-header>
      {{eheader}}
    </ion-card-header>

    <ion-card-content>
      <!-- Add card content here! -->
      {{error}}
    </ion-card-content>

  </ion-card>
  <ion-card color="secondary" *ngIf="title">

    <ion-card-header>
      {{title}}
    </ion-card-header>

    <ion-card-content>
      <!-- Add card content here! -->
      {{message}}
    </ion-card-content>

  </ion-card>


</ion-content>